<h2>Dashboard</h2>
<div class="mat-app-background basic-container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Player 1" id="player1">
      <div>
        <ng-template mat-tab-label>
          <mat-icon class="player-icon">face</mat-icon>
          <p>Player 1</p>
        </ng-template>
        <p>Number of moves: 4</p>
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          value="40"
        ></mat-progress-bar>
        <p>Time left: 10:22</p>
      </div>
    </mat-tab>
    <mat-tab label="Player 2" id="player2">
      <div>
        <ng-template mat-tab-label>
          <mat-icon class="player-icon">face</mat-icon>
          <p>Player 2</p>
        </ng-template>
        <p>Number of moves: 3</p>
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          value="40"
        ></mat-progress-bar>
        <p>Time left: 8:25</p>
      </div>
    </mat-tab>
    <mat-tab label="Player 3" id="player3">
      <div>
        <ng-template mat-tab-label>
          <mat-icon class="player-icon">face</mat-icon>
          <p>Player 3</p>
        </ng-template>
        <p>Number of moves: 3</p>
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          value="40"
        ></mat-progress-bar>
        <p>Time left: 11:32</p>
      </div>
    </mat-tab>
    <mat-tab label="Player 4" id="player4">
      <div>
        <ng-template mat-tab-label>
          <mat-icon class="player-icon">face</mat-icon>
          <p>Player 4</p>
        </ng-template>
        <p>Number of moves: 3</p>
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          value="40"
        ></mat-progress-bar>
        <p>Time left: 12:42</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
